force-app/main/default/flows/Case_After_Update_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Get_Case_Count</name>
        <label>Get Case Count</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>TotalCases</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Cases_for_Account</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_cases</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Total_case_ratings</name>
        <label>Total case ratings</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>CaseTotalRating</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_cases.Satisfaction_Rating__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_cases</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <description>To store the average rating of cases per account</description>
        <name>CaseAverageRating</name>
        <dataType>Number</dataType>
        <expression>{!CaseTotalRating}/{!TotalCases}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Case After Update Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case After Update Trigger</label>
    <loops>
        <name>Loop_cases</name>
        <label>Loop cases</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Cases_for_Account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Total_case_ratings</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Account_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <description>Get all cases for the account</description>
        <name>Get_Cases_for_Account</name>
        <label>Get Cases for Account</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Case_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account_record</name>
        <label>Update Account record</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Average_Satisfaction_Rating__c</field>
            <value>
                <elementReference>CaseAverageRating</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Cases_for_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Satisfaction_Rating__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>To get the total rating from all the cases per account</description>
        <name>CaseTotalRating</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>TotalCases</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
